<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/style.css">
</head>

<body>
    <div class="contact-container">
        <div class="right">
            <h1 class="title">Welcome to GROOT_GEN</h1>
            <img class="logo" src="http://127.0.0.1:8080/static/images/groot.png" alt="">
            <form action="http://127.0.0.1:8080/validate/" method = "post">
            <div class="form-container">
                <div class="username">
                    <img class="icon email-icon" src="http://127.0.0.1:8080/static/icons/user1.svg" alt="">
                    <input type="email" name="user_name" class="user-input" placeholder="Username">
                </div>
                <div class="password">
                    <img class="icon password-icon" src="http://127.0.0.1:8080/static/icons/lock.svg" alt="">
                    <input type="password" name="password" class="pass-input" placeholder="Password">
                </div>
                <div class="keepme">
                    <input type="checkbox" checked="true">
                    Keep Me Logged In
                </div>
                <button  type="submit">SUBMIT</button>
           
                <a href="#" class="link">Forgot Password..!</a>

            </div>
        </form>
        </div>
    </div>













</body>
</html>